/*=============== GOOGLE FONTS ===============*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap');

/*=============== VARIABLES CSS ===============*/

 :root {
    --header-height: 4rem;
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: hsl(225, 9%, 20%);
    --first-color-alt: hsl(13, 93%, 55%);
    --first-color-light: hsl(143, 74%, 43%);
    --first-color-dark: hsl(226, 10%, 33%);
    --first-color-blue: hsl(251, 82%, 67%);
    --title-color: hsl(0, 0%, 100%);
    --title-color-orange: hsl(13, 93%, 55%);
    --text-color: hsl(252, 16%, 75%);
    --text-color-light: hsl(0, 0%, 100%);
    --text-color-green: hsl(143, 74%, 43%);
    --body-color: hsl(225, 9%, 18%);
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Open Sans', sans-serif;
    --second-font: jost, sans-serif;
    --biggest-font-size: 2rem;
    --bigger-font-size: 1.5rem;
    --big-font-size: 1.25rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semiBold: 600;
    --font-bold: 700;
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}


/* Responsive typography */

@media screen and (min-width: 1024px) {
     :root {
        --biggest-font-size: 2.5rem;
        --bigger-font-size: 2rem;
        --big-font-size: 1.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}


/*=============== BASE ===============*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
    font-size: 1rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--second-font);
    color: var(--title-color);
    font-weight: var(--font-bold);
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--text-color-light);
}

img {
    max-width: 100%;
    height: auto;
}


/*=============== BUTTON ===============*/

.button {
    display: inline-flex;
    justify-content: center;
    color: var(--first-color-alt);
    font-family: var(--second-font);
    padding: 12px 25px;
    margin: 20px 20px 20px 0;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--first-color-alt);
    transition: color .5s;
    z-index: 1;
    font-size: var(--h3-font-size);
    border-radius: 50px;
    font-weight: var(--font-medium);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--first-color-alt);
    height: 150px;
    width: 200px;
    border-radius: 50%;
}

.button:hover {
    color: var(--text-color-light);
}

.button:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
}

.button:hover:before {
    top: -30px;
    left: -30px;
}

.button:active:before {
    background: var(--first-color-alt);
    transition: background 0s;
}


/*=============== REUSABLE CSS CLASSES ===============*/

.container {
    max-width: 1124px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

.section {
    padding: 6.5rem 0 3.25rem;
}

.section__data {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    text-align: center;
    margin-bottom: 25px;
}

.title {
    font-size: var(--bigger-font-size);
    color: var(--title-color);
    font-weight: var(--font-semiBold);
}

.section__title,
.subscribe__title {
    font-size: var(--biggest-font-size);
    color: var(--title-color);
    font-weight: var(--font-semiBold);
    width: 100%;
    font-family: var(--second-font);
}

.section__subtitle,
.blog__card-title {
    font-family: var(--second-font);
    color: var(--title-color-orange);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 6px;
}

.section-description {
    font-weight: var(--font-medium);
    /* font-size: 1rem; */
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.green-text {
    color: var(--text-color-green);
}

.circle {
    display: none;
}

.hidde-inphone {
    display: none;
}


/*=============== HEADER & NAV ===============*/

.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: background 0.3s;
    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -ms-transition: background 0.3s;
    -o-transition: background 0.3s;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle {
    color: var(--title-color);
    display: flex;
}

.nav__logo {
    align-items: center;
}

.nav__logo img {
    width: 7.25rem;
}

.nav__toggle,
.nav__close {
    font-size: 2.25rem;
    cursor: pointer;
    transition-delay: .8s;
    transition: display .8s;
    -webkit-transition: display .8s;
    -moz-transition: display .8s;
    -ms-transition: display .8s;
    -o-transition: display .8s;
}

@media screen and (max-width: 1023px) {
    .header {
        /* position: relative; */
        z-index: var(--z-fixed);
    }
    .nav__list {
        position: fixed;
        margin-top: var(--header-height);
        background-color: var(--first-color);
        top: -500%;
        right: 0;
        width: 100%;
        height: auto;
        transition: top .5s;
        -webkit-transition: top .5s;
        -moz-transition: top .5s;
        -ms-transition: top .5s;
        -o-transition: top .5s;
    }
}

.nav__list {
    padding: 3rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.nav__link {
    color: var(--title-color);
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.nav__link {
    color: var(--title-color);
    transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    -ms-transition: color 0.3s;
    -o-transition: color 0.3s;
}

.nav__link:hover {
    color: var(--text-color);
}


/* Show menu */

.show-menu {
    top: 0;
}

.display-none {
    display: none;
}


/*=============== HOME ===============*/

.home {
    height: 100vh;
    background: url(../images/home-background.jpg) center;
    background-size: cover;
    position: relative;
}

.home__container {
    display: flex;
    flex-direction: column-reverse;
    /* height: 100%; */
/*     margin-top: var(--header-height); */
    row-gap: 3rem;
    text-align: center;
}

.home__img img {
    max-width: 250px;
    max-height: 200px
}

.home__data {
    margin-top: .5rem;
    row-gap: .7rem;
}

.home__desription {
    font-weight: var(--font-medium);
}

.home__data .flex {
    display: flex;
    justify-content: center;
}

.home__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home__link {
    margin: .5rem;
    color: var(--text-color-light);
    font-size: var(--h2-font-size);
}

.down {
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.down .uil {
    font-size: var(--biggest-font-size);
    color: var(--title-color);
}

.down {
    animation: down 2s linear 0s infinite alternate none;
    -webkit-animation: down 2s linear 0s infinite alternate none;
}

@keyframes down {
    0% {
        transform: translateY(10px);
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
    }
    25% {
        transform: translateY(15px);
        -webkit-transform: translateY(15px);
        -moz-transform: translateY(15px);
        -ms-transform: translateY(15px);
        -o-transform: translateY(15px);
    }
    50% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    75% {
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
    }
    100% {
        transform: translateY(30px);
        -webkit-transform: translateY(30px);
        -moz-transform: translateY(30px);
        -ms-transform: translateY(30px);
        -o-transform: translateY(30px);
    }
}


/*=============== PROCESS ===============*/

.process__card {
    text-align: center;
    margin-bottom: 3.5rem;
}

.process__card-img:hover .brush {
    animation: rotate .5s linear .2s infinite alternate forwards;
    -webkit-animation: rotate .5s linear .2s infinite alternate forwards;
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        -moz-transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -o-transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
    }
    50% {
        transform: rotateZ(90deg);
        -webkit-transform: rotateZ(90deg);
        -moz-transform: rotateZ(90deg);
        -ms-transform: rotateZ(90deg);
        -o-transform: rotateZ(90deg);
    }
    75% {
        transform: rotateZ(180deg);
        -webkit-transform: rotateZ(180deg);
        -moz-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        -o-transform: rotateZ(180deg);
    }
    100% {
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}

.process__card-img {
    position: relative;
}

.brush {
    max-width: 90px;
    margin: auto;
}

.process__card-img svg {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


/*=============== ABOUT ===============*/

.about__container {
    text-align: center;
}

.about__card {
    margin: 1rem 0;
    border-radius: 10px;
    background-color: var(--first-color-dark);
    padding: 25px 30px 21px 26px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.about__img {
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.about__card-number {
    font-size: var(--biggest-font-size);
    color: var(--first-color-light);
    font-weight: var(--font-bold);
}

.about__two .section__title {
    width: 100%;
}

.about__two .button {
    display: inline-flex;
}


/*=============== Skills ===============*/

.skills .container .section__data {
    text-align: left;
}

.bars {
    position: relative;
}

.bar {
    margin: .5rem 0;
}

.bar__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: .2rem;
}

.bar__info :nth-child(1) {
    color: var(--text-color-light);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    font-family: var(--second-font);
}

.bar__progress {
    width: 100%;
    height: .45rem;
    background-color: var(--text-color-light);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
}

.progress__number {
    position: absolute;
    font-size: var(--normal-font-size);
    color: var(--title-color-orange);
}

.bar__progress-value {
    position: relative;
    border-radius: 8px;
    top: 0;
    left: 0;
    height: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.alt {
    width: 95%;
    background-color: var(--first-color-alt);
}

.light {
    width: 90%;
    background-color: var(--first-color-light);
}

.blue {
    width: 80%;
    background-color: var(--first-color-blue);
}

.skills__img {
    width: 100%;
    text-align: left;
}

.skills__img img {
    max-width: 300px;
    max-height: 300px;
}


/*=============== Services ===============*/

.services__card {
    margin-bottom: 1rem;
    font-family: var(--second-font);
    background-color: var(--first-color-dark);
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: left;
    border-radius: .7rem;
    -webkit-border-radius: .7rem;
    -moz-border-radius: .7rem;
    -ms-border-radius: .7rem;
    -o-border-radius: .7rem;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
}

.services__icon {
    display: none;
}

.services__title {
    color: var(--text-color-light);
    font-size: var(--bigger-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .6rem;
}

.services__price {
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
    margin-bottom: .6rem;
}

.price {
    font-size: var(--bigger-font-size);
    color: var(--title-color-orange);
    margin-left: 5px;
    font-weight: var(--font-medium);
}

.services__description {
    line-height: 1.5;
}


/*=============== testimonial ===============*/

.icon {
    margin: auto;
    width: 50px;
    height: 50px;
}

.icon svg {
    width: 100%;
    height: 100%;
}

.icon path {
    fill: var(--title-color-orange);
}

.testimonial__text {
    text-align: center;
    font-size: var(--big-font-size);
    font-style: italic;
    margin: 1.5rem 0;
    width: 100%;
    line-height: 1.4;
}

.testimonial__info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    column-gap: 1rem;
}

.testimonial__img {
    width: 70px;
    height: 70px;
}

.testimonial__img img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonial__name {
    font-size: var(--big-font-size);
    color: var(--text-color-light);
    margin-bottom: 8px;
    font-family: var(--second-font);
}

.owl-carousel {
    margin: auto;
}

.owl-dots {
    margin-top: 20px !important;
}

.owl-dot span {
    width: 13px !important;
    height: 13px !important;
    margin: 7px 9px !important;
    background: var(--title-color-orange) !important;
    position: relative;
}

.owl-dot span:before {
    position: absolute;
    content: "";
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border-radius: 100%;
    border: 2px solid #ffb324;
    z-index: -1;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.owl-dot.active span:before {
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
}


/*=============== LOGOS ===============*/

.logos__container {
    grid-template-columns: repeat(2, 50%);
    gap: 0;
}

.logo__column {
    width: 100%;
}

.logo__card {
    border: .5px solid hsl(0, 0%, 33%);
    line-height: 180px;
    height: auto;
    text-align: center;
}

.logo__card img {
    opacity: .5;
    vertical-align: middle;
    max-width: 90%;
    max-height: 100px;
    transition: opacity .3s;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -ms-transition: opacity .3s;
    -o-transition: opacity .5s;
}

.logo__card:hover img {
    opacity: 1;
}


/*=============== Blogs ===============*/

.blog__card {
    position: relative;
}

.blog__img {
    width: 100%;
    margin-bottom: .5rem;
    height: auto;
    overflow: hidden;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    transition: all .4s;
}

.blog__img img {
    width: 100%;
    height: 100%;
    transition: all .4s;
}

.blog__card:hover .blog__img img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.blog__date {
    position: absolute;
    top: 6%;
    right: 6%;
    padding: 10px 20px;
    text-align: center;
    border-radius: 12px;
    color: var(--text-color-light);
    font-weight: var(--font-semiBold);
    font-size: var(--h3-font-size);
    background-color: hsl(143, 74%, 43%);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-family: var(--second-font);
    line-height: 1.1;
}

.blog__date span {
    font-size: var(--small-font-size);
}


/*=============== Subscribe ===============*/

.subscribe__container {
    background: linear-gradient(90deg, rgba(128, 103, 240, .92), rgba(128, 103, 240, .92)), url(../images/dots.jpg);
    padding: 1rem;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.subscribe__text {
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
}

.subscribe__title {
    margin: .8rem 0;
}

.subscribe__desc {
    color: var(--text-color-light);
}

.subscribe__button {
    display: flex;
    align-items: center;
    width: 100%;
}

.subscribe__button input {
    padding-left: .4rem;
    width: 70%;
    height: 3.5rem;
    border-radius: 9px 0 0 9px;
    -webkit-border-radius: 9px 0 0 9px;
    -moz-border-radius: 9px 0 0 9px;
    -ms-border-radius: 9px 0 0 9px;
    -o-border-radius: 9px 0 0 9px;
    border: none;
    outline: none;
}

.subscribe__button a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 3.5rem;
    background-color: var(--title-color-orange);
    border-radius: 0 9px 9px 0;
    -webkit-border-radius: 0 9px 9px 0;
    -moz-border-radius: 0 9px 9px 0;
    -ms-border-radius: 0 9px 9px 0;
    -o-border-radius: 0 9px 9px 0;
    font-size: var(--h3-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
}

.contact__lists {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start
}

.contact__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.list__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.list__icon i {
    font-size: var(--bigger-font-size);
}

.orange-back {
    background-color: #fedfd7;
}

.orange-back i {
    color: var(--title-color-orange);
}

.list-text {
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    font-weight: var(--font-medium);
    color: var(--text-color-light);
}

.list-desc a {
    color: var(--text-color);
}


/*=============== Contact ===============*/

.contact__form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.contact__form .group {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    row-gap: 1rem;
}

.form-group {
    width: 100%;
    row-gap: 1rem;
}

.form-group input {
    border: .5px solid hsl(0, 0%, 33%);
    color: var(--text-color);
    border-radius: 10px;
    outline: 0;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    background-color: transparent;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-area textarea::placeholder,
.form-group input::placeholder {
    color: var(--text-color);
}

.text-area {
    width: 100%;
}

.text-area textarea {
    background-color: transparent;
    border: .5px solid hsl(0, 0%, 33%);
    color: var(--text-color);
    border-radius: 10px;
    outline: 0;
    width: 100%;
    padding: 1rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.form-btn {
    width: 50%;
    background: transparent;
}


/*=============== Skills ===============*/

.map-map {
    height: 300px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}


/*=============== footer ===============*/

footer {
    background-color: var(--first-color-dark);
    text-align: center;
}

footer p {
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/*=============== SCROLL UP ===============*/

.scrollup {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    /*     background-color: var(--first-color); */
    display: inline-flex;
    padding: 0.35px;
    color: var(--title-color-black);
    font-size: 2.5rem;
    z-index: var(--z-tooltip);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.scrollup:hover {
    transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
}


/* Show Scroll Up*/

.show-scroll {
    bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 340px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


/* For medium devices */

@media screen and (min-width: 768px) {
    .process__container {
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
    }
    .skills__container {
        grid-template-columns: repeat(2, 50%);
    }
    .skills__two {
        display: grid;
        width: 100%;
        justify-content: center
    }
    .skills__img img {
        max-width: 500px;
        max-height: 500px;
    }
    .services__container {
        justify-content: center;
    }
    .services__card {
        display: flex;
        justify-content: center;
        gap: 2rem
    }
    .services__icon {
        display: block;
        position: relative;
    }
    .services__icon img {
        max-width: 90px;
    }
    .services__icon svg {
        width: 45px;
        height: 45px;
        position: absolute;
        top: 17%;
        left: 25%;
    }
    .logos__container {
        grid-template-columns: repeat(4, 25%);
        gap: 0;
    }
    .blogs__container {
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
    }
    .subscribe__container {
        height: 300px;
    }
    .contact__form .group {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact__form .group .form-group {
        width: 48%;
    }
    .form-btn {
        width: 17%;
    }
}


/*=============== For large Devices ===============*/

@media screen and (min-width: 1024px) {
    .container {
        /* max-width: 1170px; */
        margin-left: auto;
        margin-right: auto;
    }
    .hidde-inphone {
        display: block;
    }
    .header {
        background-color: transparent;
    }
    .nav {
        width: 100%;
    }
    .nav__list {
        padding: 0;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nav__item {
        margin-left: 30px;
    }
    .nav__link {
        font-family: var(--second-font);
        font-weight: var(--font-medium);
        font-size: 16px;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link .button {
        margin-left: 1.4rem;
        padding: 5px 20px 4px;
    }
    .home__container {
        flex-direction: row;
        row-gap: 1rem;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-align: left
    }
    .home__data .flex {
        justify-content: flex-start;
    }
    .flex .button {
        margin-left: 0;
    }
    .home__img {
        text-align: center;
        position: relative;
    }
    .home__img .home__img-img {
        max-height: 454px;
        max-width: fit-content;
    }
    .home__person-name {
        font-size: 5.2rem;
    }
    .adobe {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
    }
    .ill {
        top: 20%;
        left: 0%;
    }
    .pho {
        top: 50%;
        left: 90%;
    }
    .xd {
        top: 80%;
        left: 40%;
    }
    .adobe {
        animation: down 2s linear 0s infinite alternate none;
        -webkit-animation: down 2s linear 0s infinite alternate none;
    }
    .process__container {
        grid-template-columns: repeat(3, 31%);
        justify-content: center;
        align-items: center;
        padding-top: 4rem
    }
    .about__container {
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .about__one {
        position: relative;
    }
    .about__img {
        max-width: 500px;
        max-height: 500px;
    }
    .about__img img {
        max-height: 500px;
    }
    .about-png {
        position: absolute;
        top: -18%;
        left: -10%;
    }
    .about__card {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 18px 20px
    }
    .first-card {
        top: 10%;
        left: -4%;
    }
    .sec-card {
        top: 70%;
        left: 62%
    }
    .about__card-description {
        color: var(--text-color-light);
    }
    .about__two,
    .about__two .section__data {
        text-align: left;
    }
    .about__two {
        margin-left: 5rem;
    }
    .about__two .button {
        padding: 5px 16px;
    }
    .about__two .section-description {
        font-size: 1rem;
    }
    .skills__two {
        position: relative;
    }
    .skills__img {
        text-align: center;
    }
    .skills__img img {
        max-width: 500px;
        max-height: 500px;
    }
    .skills-png {
        position: absolute;
        top: 70%;
        right: -9%
    }
    .services__container {
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
        gap: 1.5rem;
        position: relative;
    }
    .services__icon svg {
        top: 11%;
        left: 25%;
    }
    .services-png {
        position: absolute;
        top: -20%;
        left: -14%;
        z-index: -1;
    }
    .testimonials .container {
        width: 50%;
        margin: auto;
        position: relative;
    }
    .circle {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        display: inline-block;
        border-radius: 100%;
    }
    .circle-green {
        animation: down 2.5s linear 0s infinite alternate none;
        -webkit-animation: down 2.5s linear 0s infinite alternate none;
        background-color: #1cbe59;
        top: 20%;
        left: -36%;
    }
    .circle-green-2 {
        animation: down 2s linear 0s infinite alternate none;
        -webkit-animation: down 2s linear 0s infinite alternate none;
        background-color: #1cbe59;
        top: 20%;
        left: 136%;
    }
    .circle-yellow {
        animation: down 1s linear 0s infinite alternate none;
        -webkit-animation: down 1s linear 0s infinite alternate none;
        background-color: #f0c45c;
        left: -15%;
        bottom: 51%;
    }
    .circle-yellow-2 {
        animation: down 3s linear 0s infinite alternate none;
        -webkit-animation: down 3s linear 0s infinite alternate none;
        background-color: #f0c45c;
        left: 115%;
        bottom: 51%;
    }
    .border {
        animation: down 1.5s linear 0s infinite alternate none;
        -webkit-animation: down 1.5s linear 0s infinite alternate none;
        border: 4px solid #6e50f0;
        width: 30px;
        height: 30px;
        top: 79%;
        left: -37%;
    }
    .border-2 {
        animation: down 2s linear 0s infinite alternate none;
        -webkit-animation: down 2s linear 0s infinite alternate none;
        border: 4px solid #6e50f0;
        width: 30px;
        height: 30px;
        top: 79%;
        left: 137%;
    }
    .blogs__container {
        grid-template-columns: repeat(3, 30%);
    }
    .logos__container {
        position: relative;
    }
    .logo1-png,
    .logo2-png {
        position: absolute;
    }
    .logo1-png {
        top: -25%;
        left: -12%;
        z-index: -1;
    }
    .logo2-png {
        top: 70%;
        left: 72%;
        z-index: -1;
    }
    .logo2-png img {
        max-width: initial;
    }
    .subscribe__container {
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
        align-items: center;
    }
    .contanct__container {
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    .contact-png {
        position: absolute;
    }
    .contact-1 {
        top: -45%;
        left: -14%;
    }
    .contact-2 {
        top: 46%;
        left: 90%;
    }
    .contact-2 img {
        max-width: initial;
    }
    .form-btn {
        width: 50%;
    }
    .map-map {
        height: 350px;
    }
}


/*=============== Skills ===============*/


/*=============== Skills ===============*/
